%ul.nav.nav-tabs
  %li
    %a{:href => "#table", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @ledger_account.grants.count
      = "Grants"

.tab-content
  .tab-pane.fade#table
    .tab-content
      = render :partial => 'grants/grants_table', :locals => {:grants => @ledger_account.grants}
