%ul.nav.nav-tabs
  %li
    %a{:href => "#table", :data =>{:toggle => 'tab'}}
      = "Grants"

.tab-content
  .tab-pane.fade#table
    .tab-content
      = render :partial => 'grants/grants_table', :locals => {:grants => @ledger_account.grants}
