- if gla_entries.empty?
  %p There are no entries in this GL account.
-else
  %table.table.table-hover#gla_datatable
    %thead
      %tr
        %th.left Description
        %th.right Change
        %th.right Balance


    %tbody
      - balance = 0
      - gla_entries.each_with_index do |gla_entry,idx|
        - subtotal += gla_entry.amount
        %tr.popup-details
          %td.left= gla_entry.description.html_safe
          %td.right= format_as_currency(gla_entry.amount)
          - balance += gla_entries.amount
          %td.right= format_as_currency(balance)

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
