- if gla_budgets.empty?
  %p There are no associated GLA budgets.
-else
  %table.table.table-hover#gla_datatable
    %thead
      %tr
        %th.left Grant
        %th.left GLA
        %th.right Budget
        %th.right Balance

    %tbody
      - gla_budgets.each do |gla_budget|
        - grant_gla = GeneralLedgerAccount.where('name LIKE ?', "%Funding").where(grant: gla_budget.grant).first
        %tr.popup-details
          %td.left= link_to gla_budget.grant, grant_path(gla_budget.grant)
          %td.left= link_to grant_gla, general_ledger_account_path(grant_gla)
          %td.right= format_as_currency(gla_budget.amount)
          %td.right= format_as_currency(grant_gla.subtotal)

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
