%table.table.table-hover#datatable
  %thead
    %tr
      %th.left Name
      %th.right Account Number
      %th.right Account Type

  %tbody
    - @ledger_accounts.each do |a|
      %tr.popup-details{:data => {:action_path => general_ledger_account_path(a)}}
        %td.left= a.name
        %td.right= a.account_number
        %td.right= a.general_ledger_account_type.name

= render 'shared/datatable_javascript'
