- if grant.assets.empty?
  %p There are no assets for this grant.
- else
  %table.table.table-hover
    %thead
      %tr
        %th.left Type
        %th.left Tag
        %th.left Description
    %tbody
      - grant.assets.each do |a|
        %tr
          %td.left= a.asset_subtype.name
          %td.left= a.asset_tag
          %td.left= a.description
