= format_field("Name", ledger_account.name )
= format_field("Account Number", format_as_integer(ledger_account.account_number) )
= format_field("Account Type", ledger_account.general_ledger_account_type.name )
