.row
  .col-md-12
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-12
            %h3.panel-title
              %i.fa.fa-list
              General Ledger Accounts
      .panel-body
        - if @ledger_accounts.empty?
          %p No general ledger accounts found
        - else
          .col-md-12
            = render :partial => 'index_table', :locals => {:gl_accounts => @ledger_accounts}
