%p
  Use this form to change the book value of #{@asset}. In the description field, please specify the reason you are manually changing its book value.
%p
  If there are any manual adjustments entered after the date of this report, they will be reversed.