= form_tag funding_templates_path, :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right panel-action' do
  .form-group
    = select_tag(:funding_source_id, options_for_select(FundingSource.active.collect{|a| [a.name, a.id]}, :selected => @funding_source_id), :class => "form-control", :style => "width: 100px;", :prompt => "Any Program...")
    %label
      = check_box_tag(:show_active_only, '1', false, {:class => "form-control"})
      Show Active Programs Only

:javascript
  $(document).ready(function() {

    $('.form-control').change(function() {
      $('#filter_form').submit();
    });

  });
