.row
  .col-md-6.col-md-offset-3
    %fieldset
      %legend Update Template
      = render(:partial => 'shared/form_errors', :locals => {:obj => @funding_template}) unless @funding_template.errors.empty?

      = render 'form'
