%li.nav-item{:class => get_nav_link_class(['accounting'])}
  = link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-usd.fa-2x
    %br
    Accounting
    %b.caret
  %ul.dropdown-menu.multi-level{:role => 'menu'}      
    %li.text-left
      = link_to general_ledger_accounts_path do
        %i.fa.fa-usd.fa-fw
        Chart of Accounts
