.row
  .col-md-6.col-md-offset-3
    %fieldset
      %legend New Grant Amendment
      = render(:partial => 'shared/form_errors', :locals => {:obj => @grant_amendment}) unless @grant_amendment.errors.empty?

      = render 'form'
