<p id="notice"><%= notice %></p>

<p>
  <strong>Grant:</strong>
  <%= @grant_amendment.grant %>
</p>

<%= link_to 'Edit', edit_grant_amendment_path(@grant_amendment) %> |
<%= link_to 'Back', grant_amendments_path %>
