.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{:data => {:dismiss => "modal"}}
        x
      %h3.modal-title
        = "Conflict"
    .modal-body
      %div{:class => "alert alert-danger fade in #{bootstrap_class_for('danger')}"}
        %a.close{"data-dismiss" => "alert"} ×
        = content_tag :div, msg, :id => "flash_danger"
      = render :partial => 'buckets_table', :locals => {:buckets => result, :compact_columns => 1}