:ruby
  show_actions ||= 0
  compact_colmuns ||= 0

#buckets_table_actions.btn-group
  - if can?(:create, FundingBucket)
    = link_to new_funding_bucket_path, :class => 'btn btn-default' do
      %i.fa.fa-edit.fa-fw
      = "Manage Buckets"
  - if show_actions == 1
    = render :partial => "funding_buckets/index_actions"

= render :partial => 'funding_buckets/buckets_table', :locals => {:buckets => buckets, :compact_columns => compact_colmuns}
