.row
  .col-md-6.col-md-offset-3
    %fieldset
      %legend Create Bucket
      = render(:partial => 'shared/form_errors', :locals => {:obj => @bucket_proxy}) unless @bucket_proxy.errors.empty?

      = render 'form'

.modal.fade#form-modal{:tabindex => -1, :role => 'dialog', :aria => {:hidden => true}}