.row
  .col-md-12{:style => 'height:200px;overflow-y:auto;'}
    - if @funding_source.comments.empty?
      %p There are no comments for this funding program.
    - else
      = render :partial => 'shared/comments', :locals => {:comments => @funding_source.comments}

- if can? :create, @funding_source.comments.build
  .row
    .col-md-12
      %fieldset
        %legend Add Comment
        = form_for [@funding_source, Comment.new], :html => {:multipart => true, :class => 'form-vertical comment_form' }, :url => funding_source_comments_path(@funding_source, Comment.new), :role => 'form' do |f|
          .form-group
            = f.text_area :comment, :class => 'form-control', :placeholder => 'Enter a new comment...', :required => true, :minlength => 10, :maxlength => 254
          = f.submit :class => 'btn btn-primary', :id => 'comment_submit'

:javascript

  // jquery validations
  $('.comment_form').validate({
    ignore: [], //validate hidden fields
    submitHandler: function(form) {
      form.submit();
    }
  });
