.row
  .col-xs-12
    %fieldset
      %legend.panel-legend Description
      = funding_source.description

%br
.row
  .col-xs-12
    %fieldset
      %legend.panel-legend Details
      = funding_source.details