%fieldset
  %legend.panel-legend Match Requirements
  %p State: #{format_as_percentage(@funding_source.state_match_required, 3)}
  %p Local: #{format_as_percentage(@funding_source.local_match_required, 3)}
