:css
  .btn-toolbar button {
    margin-top: 4px;
    margin-left: 4px;
  }

- if can? :create, FundingSource
  .btn-group.navbar-right
    = link_to new_funding_source_path, :class => 'btn btn-default' do
      %i.fa.fa-plus.fa-fw
      = "Add Funding Program";

-# = form_tag funding_sources_path, :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right panel-action' do
-#   .form-group
-#     = select_tag(:funding_source_type_id, options_for_select(FundingSourceType.funding_program.active.map{|f| [f.to_s,f.id]}, :selected => @funding_source_type_id), :class => "form-control", :style => "width: 150px;", :prompt => "Any Source...")
-#   .form-group
-#     %label
-#       = hidden_field_tag :show_active_only, ''
-#       = check_box_tag(:show_active_only, '1', @show_active_only == '1', {:class => "form-control"})
-#       Show Active Programs Only

  -# = button_tag :class => 'btn btn-default pull-right', :type => 'submit' do
  -#   %i.fa.fa-filter
