%li
  %a{:href => "#summ", :data =>{:toggle => 'tab'}}
    %span.badge.pull-right= @vendor.assets.count
    = "Summary"
%li
  %a{:href => "#expn", :data =>{:toggle => 'tab'}}
    %span.badge.pull-right= @vendor.expenditures.count
    = "Expenditures"
