- if @asset.depreciable
  .tab-pane.fade#depreciation
    .tab-content
      = render 'depreciation_table'

.tab-pane.fade#expenditures
  .tab-content
    = render :partial => 'expenditures/index_table', :locals => {:expenditures => @asset.expenditures}