- if @asset.depreciable
  %li
    %a{:href => "#depreciation", :data =>{:toggle => 'tab'}}
      Asset Values

- unless @asset.type_of? Expenditure
  %li
    %a{:href => "#expenditures", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= Expenditure.where(parent_id: @asset.id).count
      CapEx
