:ruby
  formatted_grant_purchases = []
  @asset.grant_purchases.each do |g|
    if g.sourceable.present?
      formatted_grant_purchases << "#{link_to(g.sourceable.to_s, eval(g.sourceable_path))} (#{format_as_percentage(g.pcnt_purchase_cost)})"
    end
  end

- if @asset.grant_purchases.count > 0
  = format_field(GrantPurchase.label.pluralize, format_as_list(formatted_grant_purchases))