- if @asset.depreciable
  %li
    %a{:href => "#depreciation", :data =>{:toggle => 'tab'}}
      Depreciation
%li
  %a{:href => "#expenditures", :data =>{:toggle => 'tab'}}
    %span.badge.pull-right= @asset.expenditures.count
    CapEx
