%th.center{:data => {:field => "depreciable", :sortable => 'false', :visible => 'false', :searchable => 'false', :formatter => 'boolean_formatter'}} Deprc
%th.center.nowrap{:data => {:field => "book_value", :sortable => 'true', :formatter => 'currency_formatter'}} Book Value
