%th.center{:data => {:field => "depreciable",       :sortable => 'false',  :searchable => 'false'}} Deprc
%th.center.nowrap{:data => {:field => "book_value",     :sortable => 'true',  :searchable => 'true'}} Book Value
