%th.center{:data => {:field => "depreciable", :sortable => 'false', :visible => 'false', :searchable => 'false', :formatter => 'boolean_formatter'}} Deprc
%th.right.nowrap{:data => {:field => "book_value", :sortable => 'true', :formatter => 'currency_formatter'}} Book Value
%th.right.nowrap{:data => {:field => "salvage_value", :visible => 'false', :sortable => 'true', :formatter => 'currency_formatter'}} Salvage Value
%th.right.nowrap{:data => {:field => "depreciation_date", :visible => 'false', :sortable => 'true', :formatter => 'date_formatter'}} Depr. Date
%th.right.nowrap{:data => {:field => "depreciation_start_date", :visible => 'false', :sortable => 'true', :formatter => 'date_formatter'}} Depr. Start ate
