#grant_purchases.well.well-sm{style: "overflow-y:scroll; max-height:250px;"}
  %label.control-label
    %i.fa.fa-usd.fa-1-5x
    Funding Info
  .links.pull-right
    = link_to_add_association f, :grant_purchases, :class => 'btn btn-xs btn-info', data: {association_insertion_method: 'after'} do
      %i.fa.fa-plus
  %label#grant_purchases-error.error
  = f.simple_fields_for :grant_purchases do |grant_purchase|
    = render 'grant_purchase_fields', f: grant_purchase

:javascript

  $('body').on('change', '#grant_purchases .funding-pcnt', function() {
    $('#grant_purchases .funding-pcnt').rules("add", {
      pcntSumsHundred: true
    });
  });

  $.validator.addMethod("pcntSumsHundred", function(value, element) {
      var sum = 0;
    $('.funding-pcnt').each(function() {
        sum += Number($(this).val());
    });

    return sum == 100;
  }, "Entries do not sum to 100%.");
