.nested-fields{style: 'border:none;'}
  .row
    .col-md-6
      = f.input :global_sourceable, :collection => Grant.active.where(owner_id: @organization_list).map{|f| [ f.to_s, f.to_global_id ]}, :required => true, :label => 'Grant'
    .col-md-5
      = f.input :pcnt_purchase_cost, :label => 'Pcnt', :wrapper => :vertical_append do
        = f.input_field :pcnt_purchase_cost, :class => 'form-control funding-pcnt', :min => 1, :max => 100
        %span.input-group-addon
          %i.fa.fa-percent

    .col-md-1
      = link_to_remove_association f, :class => 'btn btn-xs btn-warning remove_grant', :style => 'margin-top: 27px;' do
        %i.fa.fa-trash-o


