= render(:partial => 'shared/form_errors', :locals => {:obj => @asset}) unless @asset.errors.empty?

.row
  .col-md-3
    = dialog_tag('Asset', {:icon => "fa fa-list", :class => "header-part"}) do
      = render :partial => 'assets/summary', :locals => {:asset => @asset}
  .col-md-9
    = render "depreciation_form"

:javascript
  $(document).ready(function() {
    transam.make_same_height('.header-part');
    });
