.tab-pane.fade#gla
  .tab-content
    = render :partial => 'gla_table', :locals => {:gla_budgets => @grant.grant_budgets}

.tab-pane.fade#expn
  .tab-content
    - if @grant.expenditures.empty?
      %p There are no expenditures associated with this grant.
    - else
      = render :partial => 'expenditures/expenditures_table', :locals => {:expenditures => @grant.expenditures}

    - if can? :create, Expenditure
      .row{:style => 'margin-top:50px;'}
        .col-md-12
          %fieldset
            %legend Add Expenditure
            - @expenditure = Expenditure.new
            = render :partial => 'expenditures/form'
