.btn-group.pull-right.panel-action
  %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
    %i.fa.fa-cog
    = " Actions"
    %span.caret
  %ul.dropdown-menu{:role => 'menu'}
    - if can? :update, @grant
      %li
        = link_to edit_grant_path(@grant) do
          %i.fa.fa-edit.fa-fw
          = " Update this grant"
