:css
  legend {
    border-bottom: none;
    margin-left: -5px;
  }

  .row {
    margin-left: 5px;
  }

.row
  .col-sm-1
    %legend Apportionments

.row
  .col-sm-4
    .form-group
      %label.control-label * Apportionment Name
      .display-value Primary
  .col-sm-2
    .form-group
      %label.control-label * Year of Apportionment
      .display-value= @grant.fy_year
  .col-sm-2
    .form-group
      %label.control-label * Source
      .display-value= @grant.sourceable.funding_source_type
  .col-sm-2
    .form-group
      %label.control-label * Program
      .display-value= @grant.funding_source
  .col-sm-2
    .form-group
      %label.control-label * Apportionment Amount
      .display-value= format_as_currency(@grant.amount)




