= format_field("Fund", @grant.funding_source)
= format_field("Fiscal Year", @grant.fiscal_year)
= format_field("Budget", format_as_currency(@grant.amount))
= format_field("Expenditures", format_as_currency(@grant.expenditures.sum(:amount)))

