= format_field("Fund", @grant.sourceable)
= format_field("Fiscal Year", format_as_fiscal_year(@grant.fy_year))
= format_field("Budget", format_as_currency(@grant.amount))
= format_field("Spent", format_as_currency(@grant.spent))
