.tab-pane.fade#asst
  .tab-content
    - if @assets.empty?
      %p There are no assets associated with this grant.
    - else
      = render :partial => 'assets/asset_compact_datatable', :locals => {:assets => @assets}

.tab-pane.fade#comm
  .tab-content
    = render 'comments'

.tab-pane.fade#docs
  .tab-content
    = render 'documents'
