%ul.nav.nav-tabs
  %li
    %a{:href => "#assets", :data =>{:toggle => 'tab'}}
      = "Assets"

.tab-content
  .tab-pane.fade#assets
    .tab-content
      - if @expenditure.assets.empty?
        %p There are no assets associated with this expenditure.
      - else
        = render 'assets'
