:javascript
  $(document).ready(function() {

    // jquery validations
    $('.expenditure_form').validate({
      ignore: [], //validate hidden fields
      submitHandler: function(form) {
        form.submit();
      }
    });

    $('#expenditure_amount').rules("add", {
      min: 0,
    });

  });
